@model TimelinePleaseWork.Models.InventoryItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>InventoryItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ItemId" class ="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
